<!DOCTYPE html>
<html lang="es">

<head>
  <meta charset="UTF-8">
  <meta content="IE=edge" http-equiv="X-UA-Compatible">
  <meta content="width=device-width,initial-scale=1" name="viewport">
  <meta content="sobre mi julian andres almario loaiza" name="Julian Almario L">

  <meta name="msapplication-tap-highlight" content="no">
    <link rel="icon" href="{{ url_for('static', filename='img/images/perfil.jpg') }}" type="image/x-icon" />
  <title>Sobre mi</title>  
  <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.1/css/all.css">
  <link href="{{ url_for('static', filename='css/styles.css') }}" rel="stylesheet">
</head>

<body class="">
<div id="site-border-left"></div>
<div id="site-border-right"></div>
<div id="site-border-top"></div>
<div id="site-border-bottom"></div>
 <!-- Add your content of header -->
<header>
  <nav class="navbar  navbar-fixed-top navbar-default">
    <div class="container">
        <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar-collapse" aria-expanded="false">
          <span class="sr-only">Toggle navigation</span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>

      <div class="collapse navbar-collapse" id="navbar-collapse">
        <ul class="nav navbar-nav ">
            <li><a href="/" title="">Inicio</a></li>
            <li><a href="/portafolio" title="">Portafolio</a></li>
            <li><a href="/blog" title="">Blog</a></li>
            <li><a href="https://orcid.org/0009-0001-9219-4185" title="">Investigaciones</a></li>
            <li><a href="/about" title="">Sobre mi</a></li>
        </ul>


      </div> 
    </div>
  </nav>
</header>

<div class="section-container">
    <div class="container">
      <div class="row">
        <div class="col-xs-12">
          <div class="section-container-spacer text-center">
            <h1 class="h2">Sobre mi</h1>
          </div>
          
          <div class="row">
            <div class="col-md-10 col-md-offset-1">
              <div class="row">
                <div class="col-xs-12 text-justify">
                  <p>Soy un estudiante de medicina en la Corporación Universitaria Remington, apasionado por la intersección entre la medicina y la ingeniería. A lo largo de mi formación, he desarrollado un profundo interés por las cuatro ramas fundamentales de las ciencias básicas: biología, química, física y matemáticas.
                    Además de mis estudios médicos, dedico mi tiempo libre a explorar la ingeniería, con la visión de integrar estas disciplinas para fomentar la innovación en la ciencia médica. Mi objetivo es inspirar a otros estudiantes y profesionales a unir sus conocimientos en medicina, ingeniería u otras disciplinas
                    del saber, con el fin de resolver problemas complejos y contribuir al avance de la ciencia. Me apasiona la investigación interdisciplinaria, y busco desarrollar soluciones que puedan mejorar la calidad de vida de las personas, combinando el rigor de las ciencias básicas con la aplicación práctica en el campo de la salud.</p>
                </div>
              </div>
            </div>
          </div>
  
          
       </div>
      </div>
    </div>
</div>


<footer class="footer-container text-center">
  <div class="container">
    <div class="row">
      <div class="col-xs-12">
        <p>© Julian Andres Almario Loaiza</p>
      </div>
    </div>
  </div>
</footer>

<script>
  document.addEventListener("DOMContentLoaded", function (event) {
     navActivePage();
  });
</script>
<script type="text/javascript" src="{{ url_for('static', filename='js/animation.js') }}"></script></body>

</html>