<!DOCTYPE html>
<html lang="es">

<head>
  <meta charset="UTF-8">
  <meta content="IE=edge" http-equiv="X-UA-Compatible">
  <meta content="width=device-width,initial-scale=1" name="viewport">
  <meta content="plantilla para post de blog" name="Julian Almario">

  <meta name="msapplication-tap-highlight" content="no">
  <link rel="icon" href="{{ url_for('static', filename='img/images/perfil.jpg') }}" type="image/x-icon" />

  <title>Mis dispositivos</title>
  <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.1/css/all.css">
  <link href="{{ url_for('static', filename='css/styles.css') }}" rel="stylesheet">
</head>

<body class="">
  <div id="site-border-left"></div>
  <div id="site-border-right"></div>
  <div id="site-border-top"></div>
  <div id="site-border-bottom"></div>

  <header>
    <nav class="navbar  navbar-fixed-top navbar-default">
      <div class="container">
        <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar-collapse"
          aria-expanded="false">
          <span class="sr-only">Toggle navigation</span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbar-collapse">
          <ul class="nav navbar-nav ">
            <li><a href="/" title="">Home</a></li>
            <li><a href="/portafolio" title="">Portafolio</a></li>
            <li><a href="/blog" title="">Blog</a></li>
            <li><a href="https://orcid.org/0009-0001-9219-4185" title="">Investigaciones</a></li>
            <li><a href="/about" title="">Sobre mi</a></li>
          </ul>
        </div>
      </div>
    </nav>
  </header>

  <div class="section-container">
    <div class="container">
      <div class="row">
        <div class="col-xs-12">
          <div class="card-container">

            <div class="content-post text-justify">

              <h1 class=" text-center">Mis dispositivos</h1>

              <hr>

              <p class="text-center">
                <img src="{{ url_for('static', filename='img/images/setup.jpg') }}" class="img-responsive center-block"
                  alt="setup minimalista" style="max-width: 60%; height: auto; margin-top: 20px; margin-bottom: 20px;">
              </p>
              <p>Este artículo es una lista que ire actualizando con el tiempo sobre los dispositivos que uso y tengo en mi workflow, la verdad esque este conjunto de dispositivos ha cabiado con el tiemmpo he ido optimizando mi flujo de trabajo hasta llegar a este punto.</p>

              <hr>

              <ul>
                <li><strong>Aspire A514-53:</strong> Con un pgrade de ram hasta 20GB, actualmente uso ubuntu como sistema operativo, en u nfuturo prentendo volver nuevamente a arch linux porque en lo personal quiero aun mas control de mis sistemas </li>
                <li><strong>Samsung Galaxy Note 9:</strong> La version con Snapdragon 845, no lo compre ni nada mi madre lo tenia por ahi resagado y me lo regalo. lo uso mas que todo por el s´pen y poner tomar notas de bolsillo, la verdad es que aunque sea un telefono del 2018 es un excelente dispositivo y muy versatil que no se queda corto en nada, desafortunadamente no le puedo cambiar la distro a algo mas concetro mas que todo por los sdk personalizados de samsung por el s´pen, pero en la configuracion actual como lo tengo no se me hae visto en la necisda de algo asi.</li>
                <li><strong>Samsung Galaxy Tab S6 Lite:</strong> Esta es el modelo 2020 tambien con un Snapdragon en su tiepo cuando lo compre, la verdad es un buen complemento junto con mi note 9, por le mismo s´pen, tambbien le he personalizxado lo maximo posible que me permite el sistema pero nada que enviediar a las ipads o otros productos de este estilo. </li>
                <li><strong>Samsung Galaxy Tab E SM-T113NU:</strong> ES un dispostivio un poco viejo, era mi tablet anterior pero ahora la uso como lector de libros, esta si sesta personalizada con el sistema operativo LinageOS mas que todo por la version de android porque la de este sistema era mas actualizada que la de fabrica, pretendo en algun momento actualizarla a una Eink tablet, pero no me he visto en la necesidad todavia asi estoy mas que perfecto. </li>
                <li><strong>Samsung TV 32":</strong> La uso como 2 monitor nada más, la verdad no es nada especial solo na tev, la uso coo monitor porque en lo personal no gusta ver programas de TV ya perdi el dia en el cal los deje de ver, no lo compre solo que mis padres e lo dieron cuando e mude a estudiar, si hubiese podido mejor me compraba un monitor pero igual esta bien la tv, gracias padres :) </li>
              </ul>


            </div>
          </div>
        </div>
      </div>
    </div>
  </div>


  <footer class="footer-container text-center">
    <div class="container">
      <div class="row">
        <div class="col-xs-12">
          <p>© Julian Andres Almario Loaiza </p>
        </div>
      </div>
  </footer>

  <script>
    document.addEventListener("DOMContentLoaded", function (event) {
      // Si tienes una función para resaltar la página activa en la nav
      // navActivePage(); 
    });
  </script>

  <script type="text/javascript" src="{{ url_for('static', filename='js/animation.js') }}"></script>
</body>

</html>